.main {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.inputRange {
    width: 150px;
    height: 3px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-right: 4%;
    gap: 10px;
}