.main {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0px 0px 10px #101010;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border: 1px transparent solid;
    background-color: #191919;
}

.infoPlaylist{
    font-size: 1.2rem;
    width: 83%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.creationDate{
    width: 100%;
    font-size: 0.7rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ftPlaylist {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ftPlaylistExpanded {
    width: 17%;
    height: 85%;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ftTXT {
    display: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.ftTXTExpanded {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.playlistName {
    display: none;
}

.playlistNameExpanded {
    width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.iconeTrash {
    display: none;
}

.iconeTrashExpanded {
    display: block;
}

.img{
    border-radius: 6px;
}

.imgExpanded{
    border-radius: 6px;
    margin: 5px;
}