.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
}

.divPricipal {
    width: 99%;
    height: 88%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}


.dashborad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #121212;
    border-radius: 10px;
    width: 70%;
    height: 97%;
    overflow: auto;
    box-shadow: 0px 0px 10px rgb(10, 10, 10);
}

.containerSearch {
    margin-top: 10px;
    width: 98%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerPlaylist {
    position: relative;
    width: 5%;
    height: 97%;
}

.divBtnHome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #1ab75e;
    border-radius: 10px;
}