.divInfoArtist{
    position: relative;
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 15px;
}

.artistIMG{
    height: 100%;
}

.divInfo{
    display: flex;
    flex-direction: column;
    width: 75%;
    color: white;
    gap: 10px;
}

.ArtistName{
    width: 100%;
    font-size: 5rem;
    font-weight: 600;
    margin-left: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.divBtnHome{
    position: absolute;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 25%;
}