
.button{
    border: none;
    height: 100%;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #434343;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}