.page {
    background: #000000;
    width: 100vw;
    height: 100vh;
}

.divPricipal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 88%;
}


.dashborad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #121212;
    border-radius: 10px;
    width: 67.5%;
    height: 97%;
    overflow: auto;
    box-shadow: 0px 0px 10px rgb(10, 10, 10);
}

/*Playlist page*/

.divPlaylist{
    width: 97%;
    height: 95%;
}

.divInfoPlaylist{
    display: flex;
    width: 100%;
    height: 200px;
}

.playlistIMG{
    width: 20%;
    height: 100%;
}

.divInfo{
    display: flex;
    flex-direction: column;
    width: 75%;
    color: white;
    padding-left: 15px;
    gap: 10px;
}

.playlistName{
    font-size: 5rem;
    font-weight: 600;
}

.creatorName{
    margin-left: 5px;
}

.divBtnHome{
    display: flex;
    justify-content: end;
    width: 5%;
}

.divMusic{
    display: flex;
    flex-direction: column;
    color: white;
}

.music{
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #1ab75e;
    border-radius: 10px;
}