.main {
    width: 25%;
    height: 100%;
    background-color: #1D1D1D;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.container_img{
    width: 100%;
    height: 80%;
    flex-grow: 1;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.info_music_txt {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.music_name_txt {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 2.5rem;
    font-weight: 600;
}

.artist_name_txt {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(194, 194, 194);
}

.album_name_txt {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(194, 194, 194);
}