.mian {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.img{
    width: 77px;
    border-radius: 5%;
}

.container_info_txt{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.music_name{
    width: 100%;
    font-size: 1.2rem;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.artist_name{
    width: 100%;
    font-size: 0.9rem;
    color: #b7b6b6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}