.main{
    width: 97%;
    height: 95%;
}

.divInfoPlaylist{
    display: flex;
    width: 100%;
    height: 200px;
}

.playlistIMG{
    width: 20%;
    height: 100%;
}

.divInfo{
    display: flex;
    flex-direction: column;
    width: 75%;
    color: white;
    padding-left: 15px;
    gap: 10px;
}

.playlistName{
    font-size: 5rem;
    font-weight: 600;
}

.creatorName{
    margin-left: 5px;
}

.divBtnHome{
    display: flex;
    justify-content: end;
    width: 5%;
}

.divMusic{
    display: flex;
    flex-direction: column;
    color: white;
}

.music{
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}