.main{
    width: 100%;
    color: white;
}

.top_artists_txt{
    font-size: 2rem;
}

.container_top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}