.divTopArtists {
    width: 98%;
    height: 46%;
    display: flex;
    flex-direction: column;
    color: white;
}

.containerTopArtists {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 85%;
}